*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;

}

body{
    background-color: black;
}

/* Bagian untuk navbar*/
/* diberikan position sticky agar tetap menempel dan z index yang tinggi agar selalu diatas */
.navbar{
    background: #164646;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    position: sticky;
    top: 0;
    z-index: 999;
    margin-bottom:30px;
}

/* merupakan container untuk item item di navbar */
/* justify-content : space between agar terpisah item di navbarnya */
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

/* untuk item navbar berisi logo dan shopping cart */
.navbar__main{
    display: flex;
    align-items: center;
}

/* tombol shopping cart */
#cart__button{
    height: 56.25%;
    margin-right:20px;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}
.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

/* Mengatur tulisan Tutor Online */
#navbar__logo{
    background-color: #ff8;
    background-image: linear-gradient(to top, #5aa020 0%, #a1ea8f 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;

}

/* mengatur isi konten menu (tombol home dll) */
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

/* untuk item item dalam menu */
.navbar__item {
    height: 80px ;

}

/* untuk link di menu */
.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/*untuk kotak tes kemampuan */
.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;

}

/* Untuk mengatur button tes kemampuan*/ 
.buttonGreen{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #a1ea8f;
    color: #5e5c5c;
  }
  
  /* ketika kursor di button tes kemampuan */ 
  .buttonGreen:hover {
    background: #131313;
    transition: all 0.3s ease;
  
  }
  
  .buttonRed{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fc7703;
    color: #5e5c5c;
  }
  
  /* ketika kursor di button tes kemampuan */ 
  .buttonRed:hover {
    background: #131313;
    transition: all 0.3s ease;
  
  }

/* Ketika kursor di link */ 
.navbar__links:hover{
    color: #a1ea8f;
    transition: all 0.3s ease;
}

/* Untuk Tampilan Mobile (ketika screen lebih kecil dari 1000px */
@media screen and (max-width: 1000px){
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    /* menu akan tersembunyi ketika belum aktif */
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #164646;
    }

    /* mengatur isi konten ketika menu aktif*/
    .navbar__menu.active{
        background: #164646;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;

    }

    /* untuk tombol cart */
    #cart__button{
        padding-left: 25px;

    }

    /* Mengatur 3 garis */
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: #fff;

    }

  
    .navbar__item{
        width: 100%;
    }

    
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    .navbar__btn {
        padding-bottom: 2rem;
    }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }


    .navbar__btn {
        padding-bottom: 2rem;
    }
    
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    
    
    /* ketika kursor diatas tiga garis*/
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    
    /* menghilangkan garis kedua saat dipencet */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    /* memutar garis pertama 45 derajat */
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    /* memutar garis ketiga 45 derajat */
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Untuk item di shop */

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

/* ketika screen mengecil jadi 1000px agar barang jadi 2 setiap baris*/
@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}

/* ketika screen mengecil jadi 500px agar barang jadi 1 setiap baris*/
@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

h1 {
    text-align:center;
    -webkit-text-fill-color: white;
    -moz-text-fill-color: white;  
    margin-bottom: 30px;
}

/* per barang */
.item {
border: 2px solid #a1ea8f;
border-radius: 4px;
background-color: rgb(234, 248, 234);
}

/* detail barang (nama dan deskripsi) */
.details {
display: flex;
flex-direction: column;
padding: 10px;
gap: 10px;
}

/* harga barang */
.price-quantity {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}


/* untuk tombol */
.buttons {
display: flex;
flex-direction: row;
gap: 8px;
font-size: 16px;
}

/* agar tombol - jadi merah dan kursor*/
.bi-dash-lg {
color: red;
cursor: pointer;
}

/* agar tombol + jadi hijau dan kursor*/
.bi-plus-lg {
color: green;
cursor: pointer;
}
  


